<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head", {title: "About"}) %>
    </head>
    <body class="bg-dark text-light">
        <%- include("includes/nav") %>

        <main
            class="container movies-container text-center mt-9 position-relative top-50"
        >
            <h1 class="mt-5">About</h1>

            <p class="mb-5">
                WatchIt is open source project made with
                <a
                    href="https://getbootstrap.com/"
                    class="fw-bold text-light text-decoration-none"
                >
                    <img
                        class="bootstrap-logo"
                        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
                        alt="bootstrap logo"
                    />
                    Bootstrap
                </a>
                and
                <a href="https://www.themoviedb.org">
                    <img
                        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"
                        alt="the movie db logo"
                        class="tmdb-logo"
                    />
                </a>
            </p>
        </main>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
